.popup-info{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,0.5);
}
.cat-dialog{
  //background-color: #ffffff;
}
// 底部
.bottom {
  position: absolute;
  left: 0;
  bottom: -1000px;
  transition-property: bottom;
  transition-timing-function: ease-in-out;
  transition-duration: 300;
}
// 顶部
.top{
  position: absolute;
  left: 0;
  top: -1000px;
  transition-property: top;
  transition-timing-function: ease-in-out;
  transition-duration: 300;
}
// 左边
.left{
  position: absolute;
  left: -1000px;
  top: 0;
  transition-property: left;
  transition-timing-function: ease-in-out;
  transition-duration: 300;
}
.right{
  position: absolute;
  right: -1000px;
  top: 0;
  transition-property: right;
  transition-timing-function: ease-in-out;
  transition-duration: 300;
}
// 显示
.show{
  display: flex;
}

