.page{
  background-color: $bg-color;
}

.setting-item{
  width: 100%;
  padding: 0 30rpx;
  margin-top: 20rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80rpx;
    border-bottom: 1px solid $bg-color;
    .title{
      display: flex;
      align-items: center;
      .text{
        font-size: 28rpx;
        color: $text-color;
      }
    }
    .content{
      display: flex;
      flex-direction: row;
      align-items: center;
      .text{
        font-size: 26rpx;
        color: $text-assist-color;
      }
      .more{
        width: 38rpx;
        height: 38rpx;
      }
    }
  }
}
.login-out{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100rpx;
  margin-top: 20rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .text{
    font-size: 29rpx;
    color: $text-color;
  }
}
