.tab-bar-info{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  background-color: $bg-back-color;
  .tab-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100rpx;
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 33%;
      height: 100%;
      .image{
        width: 48rpx;
        height: 48rpx;
        margin-bottom: 4rpx;
      }
      .text{
        font-size: 26rpx;
        color: $text-color;
      }
      .active{
        font-size: 26rpx;
        color: $base;
      }
    }
  }
}
