.page{
  background-color: $bg-color;
}


.tab-info{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100rpx;
  background-color: $bg-back-color;
  .tab-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    .item{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160rpx;
      height: 100%;
      .text{
        font-size: 28rpx;
        color: $text-color;
      }
      .line{
        position: absolute;
        bottom: 16rpx;
        width: 30%;
        height: 8rpx;
        background-color: transparent;
        border-radius: 8rpx;
      }
      .active{
        font-size: 32rpx;
        font-weight: bold;
        color: $base;
      }
      .active-line{
        background-color: $base;
      }
    }
  }
}

.coupon-info{
  width: 100%;
  margin-top: 120rpx;
  .coupon-list{
    width: 100%;
    padding: 0 30rpx;
    .list{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 230rpx;
      margin-bottom: 20rpx;
      background-color: $bg-back-color;
      border-radius: 20rpx;
      .goods-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        height: 100%;
        padding: 0 20rpx;
        .item{
          width: 140rpx;
          margin-right: 10rpx;
          .pic{
            display: flex;
            align-items: center;
            .image{
              width: 140rpx;
              height: 140rpx;
              border-radius: 10rpx;
            }
          }
          .price{
            display: flex;
            align-items: center;
            margin-top: 10rpx;
            .text{
              font-size: 24rpx;
              font-weight: bold;
              color: $text-color;
            }
          }
        }
      }
      .coupon-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200rpx;
        height: 180rpx;
        border-left: 1px dashed $bg-color;
        .full-price{
          display: flex;
          align-items: center;
          .text{
            font-size: 24rpx;
            color: $text-assist-color;
          }
        }
        .price{
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          .text{
            font-size: 42rpx;
            font-weight: bold;
            color: $base;
          }
          .min{
            font-size: 28rpx;
            font-weight: bold;
            color: $base;
            margin-bottom: 6rpx;
          }
        }
        .btn{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 140rpx;
          height: 40rpx;
          margin-top: 20rpx;
          background-color: $base;
          border-radius: 40rpx;
          .text{
            font-size: 24rpx;
            color: $text-back-color;
          }
        }
      }
    }
  }
}
