.page{
  background-color: $bg-color;
}


  .goods-desc {
    margin-top: 20rpx;

    .text {
      font-size: 26rpx;
      color: #666;
      line-height: 40rpx;
    }
  }
.head-info{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  .head-info-white{
    position: absolute;
    z-index: 12;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 30rpx;
    background-color: $bg-back-color;
    .back{
      display: flex;
      align-items: center;
      justify-content: center;
      .image{
        width: 58rpx;
        height: 58rpx;
      }
    }
    .head-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1;
      height: 100%;
      .item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        .text{
          font-size: 28rpx;
          color: $text-color;
        }
        .active{
          font-size: 32rpx;
          font-weight: bold;
          color: $base;
        }
      }
    }
    .operation-btn{
      display: flex;
      flex-direction: row;
      align-items: center;
      .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20rpx;
        .image{
          width: 54rpx;
          height: 54rpx;
        }
      }
    }
  }
  .head-info-transparen{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 30rpx;
    background-color: transparent;
    .back{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,0.5);
      border-radius: 80rpx;
      .image{
        width: 58rpx;
        height: 58rpx;
      }
    }
    .operation-btn{
      display: flex;
      flex-direction: row;
      align-items: center;
      .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20rpx;
        padding: 4rpx;
        background-color: rgba(0,0,0,0.5);
        border-radius: 80rpx;
        .image{
          width: 54rpx;
          height: 54rpx;
        }
      }
    }
  }
}

/*banner*/
.banner-info{
  position: relative;
  z-index: 10;
  width: 100%;
  height: 750rpx;
  background-color: $bg-back-color;
  .swiper{
    width: 100%;
    height: 100%;
    .image{
      width: 100%;
      height: 100%;
    }
  }
  .indicator-dot{
    position: absolute;
    left: 0;
    bottom: 20rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    .dots{
      width: 16rpx;
      height: 16rpx;
      background-color: $base-rgba-03;
      border-radius: 10rpx;
      margin: 0 6rpx;
    }
    .active{
      width: 34rpx;
      height: 16rpx;
      background-color: $base;
      border-radius: 16rpx;
    }
  }
}

/*商品信息*/
.goods-info{
  margin: 20rpx 30rpx;
  padding: 20rpx 30rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .price-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10rpx;
    .price{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      .min{
        font-size: 24rpx;
        font-weight: bold;
        color: $base;
        margin-bottom: 4rpx;
      }
      .max{
        font-size: 38rpx;
        font-weight: bold;
        color: $base;
      }
    }
  }
  .goods-name{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10rpx;
    .name{
      width: 100%;
      .text{
        font-size: 32rpx;
        font-weight: bold;
        color: $text-color;
      }
    }
  }
  .goods-tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20rpx;
    .tag{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20rpx;
      .image{
        width: 28rpx;
        height: 28rpx;
        margin-right: 10rpx;
      }
      .text{
        font-size: 24rpx;
        color: $text-base-color;
      }
    }
  }
}

/*商品规格*/
.goods-attr-info{
  margin: 0 30rpx 20rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100rpx;
    padding: 0 30rpx;
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100rpx;
      .text{
        font-size: 28rpx;
        color: $text-base-color;
      }
    }
    .content{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1;
      .text{
        font-size: 28rpx;
        color: $text-color;
      }
    }
    .more{
      display: flex;
      flex-direction: row;
      align-items: center;
      .image{
        width: 38rpx;
        height: 38rpx;
      }
    }
  }
}
/*评价信息*/
.evaluate-info{
  margin: 0 30rpx 20rpx;
  padding: 20rpx 30rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .evaluate-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20rpx;
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      .text{
        font-size: 28rpx;
        font-weight: bold;
        color: $text-color;
      }
      .num{
        font-size: 24rpx;
        color: $text-assist-color;
      }
    }
    .more{
      display: flex;
      flex-direction: row;
      align-items: center;
      .image{
        width: 38rpx;
        height: 38rpx;
      }
    }
  }
  .evaluate-item{
    width: 100%;
    .item{
      width: 100%;
      margin-bottom: 20rpx;
      .user-star{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 70rpx;
        .pic{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20rpx;
          .image{
            width: 60rpx;
            height: 60rpx;
            border-radius: 30rpx;
          }
        }
        .name-star{
          .name{
            display: flex;
            flex-direction: row;
            align-items: center;
            .text{
              font-size: 24rpx;
              color: $text-color;
            }
          }
          .star{
            display: flex;
            flex-direction: row;
            align-items: center;
            .image{
              width: 24rpx;
              height: 24rpx;
              margin-right: 4rpx;
            }
          }
        }
      }
      .evaluate-content{
        width: 100%;
        margin-top: 10rpx;
        .content{
          flex: 1;
          margin-bottom: 10rpx;
          .text{
            width: 100%;
            height: 60rpx;
            font-size: 24rpx;
            color: $text-color;
            lines:2;
            text-overflow: ellipsis;
          }
        }
        .img-item{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          height: 200rpx;
          margin-bottom: 10rpx;
          .img{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20rpx;
            .image{
              width: 180rpx;
              height: 180rpx;
            }
          }
        }
        .attr{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin-bottom: 10rpx;
          .text{
            font-size: 26rpx;
            color: $text-assist-color;
          }
        }
      }
    }
  }
}
/*店铺信息*/
.shop-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200rpx;
  margin: 0 30rpx 20rpx;
  padding: 20rpx 30rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .shop-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20rpx;
    .image{
      width: 120rpx;
      height: 120rpx;
      border-radius: 60rpx;
    }
  }
  .shop-data{
    flex: 1;
    .shop-name{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: 10rpx;
      .text{
        font-size: 28rpx;
        font-weight: bold;
        color: $text-color;
      }
    }
    .star-info{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      .star{
        display: flex;
        flex-direction: row;
        align-items: center;
        .image{
          width: 28rpx;
          height: 28rpx;
          margin-right: 4rpx;
        }
        .text{
          font-size: 24rpx;
          font-weight: bold;
          color: $base;
        }
      }
      .tags{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20rpx;
        .tag{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4rpx 10rpx;
          background-color: $base;
          border-radius: 4rpx;
          .text{
            font-size: 20rpx;
            color: $text-back-color;
          }
        }
      }
    }
  }
  .shop-more{
    display: flex;
    align-items: center;
    justify-content: center;
    .image{
      width: 42rpx;
      height: 42rpx;
    }
  }
}
/*商品参数*/
.goods-param{
  margin: 0 30rpx 20rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .title-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100rpx;
    padding: 0 20rpx;
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      .line{
        width: 14rpx;
        height: 30rpx;
        background-color: $base;
        border-radius: 10rpx;
        margin-right: 10rpx;
      }
      .tit{
        font-size: 28rpx;
        font-weight: bold;
        color: $text-color;
      }
    }
    .more{
      display: flex;
      flex-direction: row;
      align-items: center;
      .image{
        width: 48rpx;
        height: 48rpx;
      }
    }
  }
  .param-item{
    width: 100%;
    padding: 0 30rpx;
    .item{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 60rpx;
      .title{
        flex-direction: row;
        display: flex;
        align-items: center;
        width: 120rpx;
        .text{
          font-size: 28rpx;
          color: $text-base-color;
        }
      }
      .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        .text{
          font-size: 28rpx;
          color: $text-color;
        }
      }
    }
  }
}

/*商品详情*/
.goods-detail{
  margin: 0 30rpx 20rpx;
  padding-bottom: 20rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .title-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100rpx;
    padding: 0 20rpx;
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      .line{
        width: 14rpx;
        height: 30rpx;
        background-color: $base;
        border-radius: 10rpx;
        margin-right: 10rpx;
      }
      .tit{
        font-size: 28rpx;
        font-weight: bold;
        color: $text-color;
      }
    }
    .more{
      display: flex;
      flex-direction: row;
      align-items: center;
      .image{
        width: 48rpx;
        height: 48rpx;
      }
    }
  }
}

/*底部*/
.footer-info{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 120rpx;
  padding: 0 30rpx;
  box-sizing: border-box;
  background-color: $bg-back-color;
  .footer-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35%;
    height: 100%;
    .btn{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 33%;
      height: 100%;
      .image{
        width: 38rpx;
        height: 38rpx;
        margin-bottom: 6rpx;
      }
      .text{
        font-size: 24rpx;
        color: $text-color;
      }
    }
  }
  .buy-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    height: 100%;
    .add-cart-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48%;
      height: 70rpx;
      background-color: $accent-color-one;
      border-radius: 45rpx;
      .text{
        font-size: 28rpx;
        color: $text-back-color;
      }
    }
    .buy-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48%;
      height: 70rpx;
      background-image: linear-gradient(to right,$btn-color-01,$btn-color-02);
      border-radius: 45rpx;
      .text{
        font-size: 28rpx;
        color: $text-back-color;
      }
    }
  }
}
