.page{
  background-color: $bg-color;
}

.head-info{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100rpx;
  padding-left: 30rpx;
  padding-right: 30rpx;
  background-color: $bg-back-color;
  .back{
    display: flex;
    align-items: center;
    justify-content: center;
    .image{
      width: 48rpx;
      height: 48rpx;
    }
  }
  .title{
    display: flex;
    align-items: center;
    .text{
      font-size: 32rpx;
      color: $text-color;
    }
  }
  .edit{
    display: flex;
    align-items: center;
    .text{
      font-size: 26rpx;
      color: $text-color;
    }
  }
}

.shop-info{
  width: 100%;
  padding: 0 30rpx;
  margin-top: 20rpx;
  .shop-list{
    width: 100%;
    .list{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 340rpx;
      padding: 0 30rpx;
      margin-bottom: 20rpx;
      background-color: $bg-back-color;
      border-radius: 20rpx;
      .check{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20rpx;
        .image{
          width: 38rpx;
          height: 38rpx;
        }
      }
      .shop-right{
        flex: 1;
        height: 100%;
        .shop-data{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          height: 140rpx;
          .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20rpx;
            .image{
              width: 100rpx;
              height: 100rpx;
              border-radius: 60rpx;
            }
          }
          .shop{
            flex: 1;
            .name{
              width: 100%;
              margin-bottom: 20rpx;
              .text{
                font-size: 32rpx;
                color: $text-color;
              }
            }
            .tag-item{
              display: flex;
              flex-direction: row;
              align-items: center;
              width: 100%;
              .star{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 20rpx;
                .image{
                  width: 28rpx;
                  height: 28rpx;
                  margin-right: 4rpx;
                }
              }
              .item{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 2rpx 10rpx;
                margin-right: 20rpx;
                background-color: $base;
                border-radius: 4rpx;
                .text{
                  font-size: 22rpx;
                  color: $text-back-color;
                }
              }
            }
          }
        }
        .goods-item{
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 200rpx;
          margin-top: 10rpx;
          .item{
            display: flex;
            align-items: center;
            margin-right: 10rpx;
            .image{
              width: 150rpx;
              height: 150rpx;
              border-radius: 10rpx;
            }
          }
        }
      }
    }
  }
}
.footer-check{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100rpx;
  padding: 0 30rpx;
  background-color: #ffffff;
  .check{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .image{
      width: 38rpx;
      height: 38rpx;
      margin-right: 20rpx;
    }
    .text{
      font-size: 28rpx;
      color: $text-color;
    }
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240rpx;
    height: 70rpx;
    background-image: linear-gradient(to right,$btn-color-01,$btn-color-02);
    border-radius: 40rpx;
    .text{
      font-size: 28rpx;
      color: $text-back-color;
    }
  }
}
