.page{
  background-color: $bg-color;
}

.tab-info{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100rpx;
  background-color: $bg-back-color;
  .tab{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    .text{
      font-size: 28rpx;
      color: $text-color;
    }
    .active{
      font-size: 30rpx;
      font-weight: bold;
      color: $base;
    }
    .active-line{
      position: absolute;
      bottom: 16rpx;
      width: 20%;
      height: 8rpx;
      background-color: $base;
      border-radius: 10rpx;
    }
  }

}

.message-info{
  width: 100%;
  margin-top: 120rpx;
  .message-list{
    width: 100%;
    padding: 0 30rpx;
    .date{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20rpx;
      .text{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rpx 20rpx;
        background-color: rgba(0,0,0,0.3);
        border-radius: 40rpx;
        font-size: 24rpx;
        color: #ffffff;
      }
    }
    .list{
      width: 100%;
      height: 240rpx;
      padding: 20rpx;
      margin-bottom: 20rpx;
      background-color: $bg-back-color;
      border-radius: 10rpx;
      .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60rpx;
        .text{
          font-size: 28rpx;
          font-weight: bold;
          color: $text-color;
        }
      }
      .info{
        display: flex;
        flex-direction: row;
        width: 100%;
        .pic{
          display: flex;
          align-items: center;
          margin-right: 20rpx;
          .image{
            width: 140rpx;
            height: 140rpx;
          }
        }
        .message{
          display: flex;
          align-items: center;
          flex: 1;
          .text{
            font-size: 26rpx;
            color: $text-assist-color;
            line-height: 40rpx;
          }
        }
      }
    }
  }
}
