.page{
  background-color: $bg-back-color;
}

.head-info{
  width: 100%;
  height: 400rpx;
  background-image: linear-gradient(to bottom,#e72d1e,$bg-back-color);
  .head-back{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100rpx;
    padding: 0 30rpx;
    .back{
      display: flex;
      align-items: center;
      justify-content: center;
      .image{
        width: 48rpx;
        height: 48rpx;
      }
    }
    .title{
      display: flex;
      align-items: center;
      .image{
        width: 288rpx;
        height: 58rpx;
      }
    }
    .more{
      display: flex;
      align-items: center;
      .image{
        width: 48rpx;
        height: 48rpx;
      }
    }
  }
  .head-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 180rpx;
    padding: 0 30rpx;
    .banner{
      width: 340rpx;
      height: 180rpx;
      .swiper{
        width: 340rpx;
        height: 180rpx;
        .image{
          width: 100%;
          height: 100%;
          border-radius: 20rpx;
        }
      }
    }
    .brand-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 20rpx;
      flex: 1;
      .item{
        width: 140rpx;
        height: 180rpx;
        background-color: #ff7d65;
        border-radius: 30rpx;
        margin-right: 20rpx;
        .pic{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 140rpx;
          height: 140rpx;
          background-color: #ffffff;
          border-radius: 30rpx;
          .image{
            width: 140rpx;
            height: 140rpx;
            border-radius: 30rpx;
          }
        }
        .title{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 40rpx;
          .text{
            font-size: 24rpx;
            color: $text-back-color;
          }
        }
      }
    }
  }
}
/*场次*/
.session-info{
  width: 100%;
  padding: 0 30rpx;
  .session-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 140rpx;
    padding: 0 10rpx;
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 170rpx;
      height: 120rpx;
      box-shadow: 0 0 20rpx rgba(0,0,0,0);
      border-radius: 20rpx;
      .time{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .text{
          font-size: 38rpx;
          font-weight: bold;
          color: $text-color;
        }
        .text-active{
          color: #e72d1e;
        }
      }
      .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .text{
          font-size: 24rpx;
          font-weight: bold;
          color: $text-color;
        }
        .text-active{
          color: #e72d1e;
        }
      }
    }
    .active{
      background-color: $bg-back-color;
      box-shadow: 0 0 20rpx rgba(0,0,0,0.1);
      border-radius: 20rpx;
    }
  }
}
/*商品列表*/
.seckill-goods{
  width: 100%;
  .goods-item{
    width: 100%;
    padding: 30rpx;
    .item{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 30rpx;
      margin-bottom: 30rpx;
      background-color: $bg-back-color;
      box-shadow: 0 0 30rpx rgba(0,0,0,0.1);
      border-radius: 30rpx;
      .pic{
        display: flex;
        align-items: center;
        margin-right: 20rpx;
        .image{
          width: 220rpx;
          height: 220rpx;
          border-radius: 10rpx;
        }
      }
      .info{
        flex: 1;
        height: 100%;
        .goods-name{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin-bottom: 20rpx;
          .text{
            width: 100%;
            height: 80rpx;
            line-height: 40rpx;
            lines:2;
            text-overflow: ellipsis;
            font-size: 28rpx;
            font-weight: bold;
            color: $text-color;
          }
        }
        .progress{
          width: 100%;
          height: 30rpx;
          background-color: #fbeae5;
          border-radius: 30rpx;
          overflow: hidden;
          .bar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 100%;
            background-color: #ff583c;
            border-radius: 30rpx;
            .text{
              font-size: 22rpx;
              color: #ffffff;
            }
          }
        }
        .price-btn{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-top: 40rpx;
          .price-info{
            display: flex;
            flex-direction: row;
            .price{
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              .min{
                font-size: 24rpx;
                font-weight: bold;
                color: #ff583c;
                margin-bottom: 4rpx;
              }
              .max{
                font-size: 42rpx;
                font-weight: bold;
                color: #ff583c;
              }
            }
            .old-price{
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              margin-left: 10rpx;
              margin-bottom: 4rpx;
              .text{
                font-size: 24rpx;
                color: $text-assist-color;
                text-decoration-line: line-through;
              }
            }
          }
          .btn-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            .btn{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 120rpx;
              height: 60rpx;
              background-image: linear-gradient(to right,#fd975a,#ff4d29);
              border-radius: 40rpx;
              .text{
                font-size: 32rpx;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
