.page {
  background-color: $bg-back-color;
}

.classify-main {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: $bg-back-color;

  .classify-left {
    width: 25%;
    height: 100%;
    background-color: #f8f8f8;

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 120rpx;

      .line {
        display: none;
      }

      .text {
        font-size: 28rpx;
        color: $text-color;
      }

      .line-active {
        position: absolute;
        left: 0;
        display: flex;
        width: 8rpx;
        height: 40rpx;
        background-color: $base;
        border-radius: 8rpx;
      }

      .text-active {
        color: $base;
      }
    }
  }

  .active {
    position: relative;
    background-color: $bg-back-color;
  }

  .classify-right {
    width: 75%; // ★ 一定要改成 75%，不要再是 85%
    height: 100%;
    background-color: $bg-back-color;
    padding: 0 20rpx;

    .goods-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20rpx 0;
      border-bottom: 1px solid #eee;

      .goods-img {
        width: 140rpx;
        height: 140rpx;
        border-radius: 12rpx;
        background-color: #f5f5f5;
      }

      .goods-info {
        margin-left: 20rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .goods-name {
          font-size: 28rpx;
          color: $text-color;
          margin-bottom: 10rpx;
        }

        .goods-price {
          font-size: 30rpx;
          color: $base;
          font-weight: bold;
        }
      }
    }

    .empty {
      text-align: center;
      padding: 40rpx 0;
      font-size: 26rpx;
      color: $text-assist-color;
    }
  }
}
