.page{
  background-color: $bg-color;
}

.head-info{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100rpx;
  padding-left: 30rpx;
  padding-right: 30rpx;
  background-color: $bg-back-color;
  .back{
    display: flex;
    align-items: center;
    justify-content: center;
    .image{
      width: 48rpx;
      height: 48rpx;
    }
  }
  .title{
    display: flex;
    align-items: center;
    .text{
      font-size: 32rpx;
      color: $text-color;
    }
  }
  .edit{
    display: flex;
    align-items: center;
    .text{
      font-size: 26rpx;
      color: $text-color;
    }
  }
}

.goods-info{
  width: 100%;
  padding: 0 30rpx;
  margin-top: 20rpx;
  .goods-list{
    width: 100%;
    .list{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 200rpx;
      padding: 20rpx;
      margin-bottom: 20rpx;
      background-color: $bg-back-color;
      border-radius: 20rpx;
      .check{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20rpx;
        .image{
          width: 38rpx;
          height: 38rpx;
        }
      }
      .pic{
        display: flex;
        align-items: center;
        margin-right: 20rpx;
        .image{
          width: 180rpx;
          height: 180rpx;
          border-radius: 10rpx;
        }
      }
      .goods{
        flex: 1;
        height: 100%;
        .name{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 20rpx;
					width: 100%;
          .text{
            width: 100%;
            height: 80rpx;
            line-height: 40rpx;
            lines:2;
            text-overflow: ellipsis;
            font-size: 28rpx;
            color: $text-color;
          }
        }
        .price{
          display: flex;
          .text{
            font-size: 32rpx;
            font-weight: bold;
            color: $base;
          }
        }
      }
    }
  }
}

.footer-check{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100rpx;
  padding: 0 30rpx;
  background-color: #ffffff;
  .check{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .image{
      width: 38rpx;
      height: 38rpx;
      margin-right: 20rpx;
    }
    .text{
      font-size: 28rpx;
      color: $text-color;
    }
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240rpx;
    height: 70rpx;
    background-image: linear-gradient(to right,$btn-color-01,$btn-color-02);
    border-radius: 40rpx;
    .text{
      font-size: 28rpx;
      color: $text-back-color;
    }
  }
}
