
.attr-info{
  width: 750rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx 20rpx 0 0;
  padding-bottom: 40rpx;
  .close{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 80rpx;
    padding: 0 30rpx;
    .image{
      width: 32rpx;
      height: 32rpx;
    }
  }
  .goods-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 200rpx;
    padding: 0 30rpx;
    margin-bottom: 20rpx;
    .pic{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20rpx;
      .image{
        width: 200rpx;
        height: 200rpx;
        border-radius: 10rpx;
      }
    }
    .data{
      flex: 1;
      height: 100%;
      .title{
        width: 100%;
        .text{
          width: 100%;
          height: 80rpx;
          lines:2;
          text-overflow: ellipsis;
          font-size: 28rpx;
          line-height: 40rpx;
          color: $text-color;
        }
      }
      .attr{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 30rpx;
        .text{
          font-size: 26rpx;
          color: $text-assist-color;
        }
      }
      .price{
        display: flex;
        flex-direction: row;
        align-items: center;
        .selling-price{
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          .min{
            font-weight: bold;
            font-size: 24rpx;
            color: $assist-color;
          }
          .max{
            font-weight: bold;
            font-size: 38rpx;
            color: $assist-color;
          }
        }
      }
    }
  }
  .attr-select{
    width: 100%;
    height: 600rpx;
    padding: 0 30rpx;
    .attr-list{
      width: 100%;
      margin-bottom: 20rpx;
      .attr-key{
        width: 100%;
        margin-bottom: 20rpx;
        .text{
          font-weight: bold;
          font-size: 28rpx;
          color: $text-color;
        }
      }
      .attr-value{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .item{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 12rpx 40rpx;
          margin-right: 20rpx;
          margin-bottom: 20rpx;
          border: 1px solid transparent;
          background-color: $bg-color;
          border-radius: 80rpx;
          .text{
            font-size: 28rpx;
            color: $text-base-color;
          }
        }
        .active{
          background-color: $base-rgba-03;
          border: 1px solid $base;
          .text{
            color: $base;
          }
        }
      }
    }
  }
  .goods-number{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100rpx;
    padding: 0 30rpx;
    .title{
      display: flex;
      align-items: center;
      .text{
        font-size: 28rpx;
        font-weight: bold;
        color: $text-color;
      }
    }
    .number{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 200rpx;
      height: 50rpx;
      border: 1px solid $text-assist-color;
      border-radius: 60rpx;
      .sub{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60rpx;
        height: 100%;
        border-right: 1px solid $text-assist-color;
        .image{
          width: 28rpx;
          height: 28rpx;
        }
      }
      .add{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60rpx;
        height: 100%;
        border-left: 1px solid $text-assist-color;
        .image{
          width: 28rpx;
          height: 28rpx;
        }
      }
      .num{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        height: 100%;
        .text{
          font-size: 26rpx;
          color: $text-color;
        }
      }
    }
  }
  .attr-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 30rpx;
    margin-top: 20rpx;
    .btn{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 90rpx;
      background-image: linear-gradient(to right,$btn-color-01,$btn-color-02);
      border-radius: 45rpx;
      .text{
        font-size: 28rpx;
        color: $text-back-color;
      }
    }
  }
}
