

.head-info{
  width: 100%;
  height: 400rpx;
  background-image: linear-gradient(to top,#f8f8f8,#fef3e2);
  .operation-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100rpx;
    padding: 0 30rpx;
    box-sizing: border-box;
    .operation-btn{
      display: flex;
      flex-direction: row;
      align-items: center;
      .btn{
        width: 48rpx;
        height: 48rpx;
        margin-left: 30rpx;
      }
    }
  }
  .user-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 140rpx;
    padding: 0 30rpx;
    .profile{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20rpx;
      .image{
        width: 140rpx;
        height: 140rpx;
        border-radius: 70rpx;
      }
    }
    .user-data{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      height: 140rpx;
      .nickname{
        margin-bottom: 10rpx;
        .text{
          font-size: 30rpx;
          font-weight: bold;
          color: $text-color;
        }
      }
      .phone{
        margin-bottom: 10rpx;
        .text{
          font-size: 26rpx;
          color: $text-assist-color;
        }
      }
    }
    .more{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 48rpx;
      height: 140rpx;
      .image{
        width: 48rpx;
        height: 48rpx;
      }
    }
  }
}
.vip-info{
  width: 100%;
  padding: 0 30rpx;
  margin-top: 40rpx;
  .info{
    position: relative;
    width: 100%;
    height: 154rpx;
    .bg{
      width: 100%;
      height: 154rpx;
    }
    .vip-data{
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 0 50rpx;
      .title-desc{
        display: flex;
        flex-direction: column;
        .title{
          display: flex;
          flex-direction: row;
          align-items: center;
          .image{
            width: 48rpx;
            height: 48rpx;
            margin-right: 10rpx;
          }
          .text{
            font-size: 28rpx;
            color: #a95a37;
          }
        }
        .desc{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 6rpx;
          .text{
            font-size: 26rpx;
            color: #bc8760;
          }
        }
      }
      .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140rpx;
        height: 70rpx;
        background-color: #ffffff;
        border-radius: 35rpx;
        .text{
          font-size: 26rpx;
          font-weight: bold;
          color: #a95a37;
        }
      }
    }
  }
}
.title-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20rpx;
  margin-top: 30rpx;
  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    .line{
      width: 12rpx;
      height: 34rpx;
      background-color: $base;
      border-radius: 12rpx;
      margin-right: 10rpx;
    }
    .tit{
      font-size:32rpx;
      font-weight: bold;
      color: $text-color;
    }
  }
}
/*订单*/
.order-info{
  width: 100%;
  padding: 0 30rpx;
  margin: 20rpx auto;
  .order-data{
    width: 100%;
    height: 220rpx;
    background-color: #ffffff;
    border-radius: 20rpx;
    .order-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 140rpx;
      .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 100%;
        .image{
          width: 48rpx;
          height: 48rpx;
          margin-bottom:10rpx;
        }
        .text{
          font-size: 26rpx;
          color: $text-color;
        }
      }
    }
  }
}

.tool-info{
  width: 100%;
  padding: 0 30rpx;
  .tool-data{
    width: 100%;
    background-color: $bg-back-color;
    border-radius: 20rpx;
    padding-bottom: 20rpx;
    .tool-item{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 10rpx;
      .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 120rpx;
        .image{
          width: 58rpx;
          height: 58rpx;
          margin-bottom:10rpx;
        }
        .text{
          font-size: 26rpx;
          color: $text-color;
        }
      }
    }
  }
}
