.page{
  background-color: $bg-color;
}

.head-info{
  width: 100%;
  background-color: $base;
  padding-bottom: 40rpx;
  .head-title{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100rpx;
    padding: 0 30rpx;
    background-color: $base;
    .back{
      display: flex;
      align-items: center;
      justify-content: center;
      .image{
        width: 48rpx;
        height: 48rpx;
      }
    }
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      .image{
        width: 300rpx;
        height: 78rpx;
      }
      .text{
        font-size: 28rpx;
        color: $bg-back-color;
        margin-left: -40rpx;
      }
    }
    .more{
      display: flex;
      align-items: center;
      .image{
        width: 48rpx;
        height: 48rpx;
      }
    }
  }
  .banner-info{
    width: 100%;
    height: 300rpx;
    padding: 0 30rpx;
    margin-bottom: 10rpx;
    box-sizing: border-box;
    .banner{
      width: 100%;
      height: 300rpx;
      .swiper{
        width: 100%;
        height: 300rpx;
        .image{
          width: 100%;
          height: 100%;
          border-radius: 20rpx;
        }
      }
    }
  }
  .hint{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60rpx;
    padding: 0 30rpx;
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      .text{
        font-size: 28rpx;
        font-style: italic;
        color: $text-back-color;
        margin-right: 20rpx;
      }
    }
    .desc{
      display: flex;
      flex-direction: row;
      align-items: center;
      .text{
        font-size: 26rpx;
        color: $text-back-color;
        opacity: 0.8;
      }
    }
  }
}

.goods-classify{
  width: 100%;
  margin-top: -30rpx;
  background-color: $bg-color;
  border-radius: 20rpx 20rpx 0 0;
  .classify-info{
    width: 100%;
    height: 100rpx;
    .classify-item{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100rpx;
      .item{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 180rpx;
        height: 100rpx;
        .text{
          font-size: 28rpx;
          color: $text-color;
        }
        .line{
          position: absolute;
          bottom: 18rpx;
          width: 20%;
          height: 8rpx;
          background-color: transparent;
          border-radius: 8rpx;
        }
        .active{
          color: $base;
          font-size: 32rpx;
          font-weight: bold;
        }
        .active-line{
          background-color: $base;
        }
      }
    }
  }
  .goods-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 30rpx;
    .list{
      width: 334rpx;
      padding-bottom: 30rpx;
      margin-bottom: 20rpx;
      background-color: $bg-back-color;
      border-radius: 10rpx;
      .pic{
        width: 100%;
        height: 334rpx;
        .image{
          width: 100%;
          height: 100%;
          border-radius: 10rpx 10rpx;
        }
      }
      .name{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        margin-top: 10rpx;
        .text{
          padding: 0 20rpx;
          width: 100%;
          height: 80rpx;
          line-height: 40rpx;
          lines:2;
          text-overflow: ellipsis;
          font-size: 28rpx;
          color: $text-color;
        }
      }
      .tag-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0 20rpx;
        margin-top: 10rpx;
        .tag{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2rpx 10rpx;
          border: 1px solid $base;
          margin-right: 10rpx;
          border-radius: 6rpx;
          .text{
            font-size: 22rpx;
            color: $base;
          }
        }
      }
      .price-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 20rpx;
        margin-top: 16rpx;
        .price{
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: center;
          //padding: 2rpx 10rpx;
          //background-color: $assist-color;
          //border-radius: 10rpx;
          .min{
            font-size: 24rpx;
            font-weight: bold;
            //color: $text-back-color;
            color: $assist-color;
          }
          .max{
            font-size: 38rpx;
            font-weight: bold;
            //color: $text-back-color;
            color: $assist-color;
          }
        }
        .sales{
          display: flex;
          flex-direction: row;
          align-items: center;
          .text{
            font-size: 22rpx;
            color: $text-assist-color;
          }
        }
      }
    }
  }
}
