.page{
  background-color: $bg-color;
}

.head-info{
  width: 100%;
  background-image: linear-gradient(to bottom,#fee9c4,$bg-color);
  .head-back{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 100rpx;
    padding: 0 30rpx;
    .back{
      display: flex;
      align-items: center;
      justify-content: center;
      .image{
        width: 48rpx;
        height: 48rpx;
      }
    }
    .title{
      display: flex;
      align-items: center;
      justify-content: center;
      .text{
        font-size: 32rpx;
        color: $text-color;
      }
    }
    .more{
      display: flex;
      align-items: center;
      justify-content: center;
      .image{
        width: 48rpx;
        height: 48rpx;
      }
    }
  }
  .card-info{
    position: relative;
    margin-left: 30rpx;
    margin-right: 30rpx;
    height: 300rpx;
    .bg{
      width: 100%;
      height: 300rpx;
    }
    .card{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      .title-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100rpx;
        padding: 0 30rpx;
        margin-top: 20rpx;
        .title-desc{
          display: flex;
          flex-direction: column;
          .title{
            font-size: 38rpx;
            font-weight: bold;
            color: $text-back-color;
          }
          .desc{
            margin-top: 10rpx;
            font-size: 24rpx;
            color: $text-back-color;
          }
        }
        .btn{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 160rpx;
          height: 60rpx;
          background-color: $bg-back-color;
          border-radius: 40rpx;
          .text{
            font-size: 26rpx;
            color: $base;
          }
        }
      }
      .economize-price{
        width: 100%;
        padding: 0 30rpx;
        margin-top: 60rpx;
        .economize{
          font-size: 24rpx;
          color: $text-back-color;
        }
        .price{
          font-size: 48rpx;
          font-weight: bold;
          color: $text-back-color;
        }
      }
    }
  }
}

/*权益*/
.rights-interests{
  margin-left: 30rpx;
  margin-right: 30rpx;
  margin-top: 30rpx;
  height: 240rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .title-more{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100rpx;
    padding: 0 30rpx;
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      .line{
        width: 12rpx;
        height: 30rpx;
        margin-right: 10rpx;
        background-color: $base;
        border-radius: 20rpx;
      }
      .text{
        font-weight: bold;
        font-size: 32rpx;
      }
    }
  }
  .rights-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 140rpx;
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      height: 140rpx;
      .image{
        width: 70rpx;
        height: 70rpx;
        margin-bottom: 10rpx;
      }
      .text{
        font-size: 26rpx;
        color: $text-color;
      }
    }
  }
}
/*瓷片区*/
.tile-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30rpx;
  margin-right: 30rpx;
  margin-top: 30rpx;
  padding: 30rpx;
  background-color: $bg-back-color;
  border-radius: 20rpx;
  .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    height: 140rpx;
    padding: 0 20rpx;
    border-right: 1px solid $bg-color;
    border-bottom: 1px solid $bg-color;
    .title-desc{
      .title{
        font-size: 34rpx;
        font-weight: bold;
        color: $text-color;
      }
      .desc{
        margin-top: 10rpx;
        font-size: 26rpx;
        font-weight: bold;
        color: $base;
      }
    }
    .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      .image{
        width: 68rpx;
        height: 72rpx;
      }
    }
  }
}
/*精选推荐*/
.recommend-info{
  margin-left: 30rpx;
  margin-right: 30rpx;
  margin-top: 30rpx;
  .info-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100rpx;
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      .line{
        width: 12rpx;
        height: 30rpx;
        margin-right: 10rpx;
        background-color: $base;
        border-radius: 20rpx;
      }
      .text{
        font-weight: bold;
        font-size: 32rpx;
      }
    }
  }
  .goods-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .list{
      width: 334rpx;
      margin-bottom: 20rpx;
      padding-bottom: 20rpx;
      background-color: $bg-back-color;
      border-radius: 10rpx;
      .pic{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 334rpx;
        .image{
          width: 334rpx;
          height: 334rpx;
          border-radius: 10rpx 10rpx 0 0;
        }
      }
      .economize{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0 20rpx;
        .text{
          font-size: 24rpx;
          color: $base;
        }
      }
      .title{
        display: flex;
        margin-top: 10rpx;
        .text{
          lines:2;
          text-overflow: ellipsis;
          width: 334rpx;
          height: 70rpx;
          padding: 0 20rpx;
          font-size: 28rpx;
          color: $text-color;
        }
      }
      .price{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0 20rpx;
        .min{
          font-size: 22rpx;
          color: $assist-color;
					margin-bottom: 4rpx;
        }
        .max{
          font-size: 36rpx;
          font-weight: bold;
          color: $assist-color;
        }
      }
    }
  }
}
