.page{
  background-color: $bg-color;
}

.coupon-info{
  width: 100%;
  margin: 20rpx auto;
  .coupon-list{
    width: 100%;
    padding: 0 30rpx;
    box-sizing: border-box;
    .list{
      position: relative;
      width: 100%;
      min-height: 200rpx;
      margin-bottom: 14rpx;
      .bg{
        width: 100%;
        height: 200rpx;
      }
      .item{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 200rpx;
        .info{
          flex: 1;
          padding: 0 30rpx;
          .title{
            .text{
              width: 100%;
              height: 80rpx;
              lines:2;
              text-overflow: ellipsis;
              line-height: 40rpx;
              font-size: 26rpx;
              color: $text-color;
              font-weight: bold;
            }
          }
          .date{
            margin-top: 10rpx;
            .text{
              font-size: 24rpx;
              color: $text-color;
            }
          }
          .more{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 10rpx;
            .tit{
              font-size: 22rpx;
              color: $text-assist-color;
            }
            .more-icon{
              width: 28rpx;
              height: 28rpx;
            }
          }
        }
        .price-info{
          width: 220rpx;
          .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .price{
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              justify-content: center;
              .min{
                font-size: 32rpx;
                font-weight: bold;
                color: $text-back-color;
                margin-bottom: 6rpx;
              }
              .max{
                font-size: 54rpx;
                font-weight: bold;
                color: $text-back-color;
              }
            }
            .full-price{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              .text{
                font-size: 22rpx;
                font-weight: bold;
                color: $text-back-color;
              }
            }
            .use-btn{
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 10rpx;
              .btn{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 140rpx;
                height: 40rpx;
                background-color: #ffffff;
                border-radius: 60rpx;
                .text{
                  font-size: 22rpx;
                  color: $assist-color;
                }
              }
            }
          }
        }
      }
      .more-info{
        width: 100%;
        padding: 20rpx 30rpx;
        background-color: #ffffff;
        border-radius: 10rpx;
        .info{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          height: 40rpx;
          .title{
            display: flex;
            align-items: center;
            .text{
              font-size: 24rpx;
              color: $text-assist-color;
            }
          }
        }
      }
    }
  }
}

.footer-info{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 100rpx;
  background-color: $bg-back-color;
  .btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100rpx;
    .text{
      font-size: 28rpx;
      font-weight: bold;
      color: $text-color;
    }
    .line{
      position: absolute;
      right: 0;
      width: 2px;
      height: 30rpx;
      background-color: $bg-color;
    }
  }
}
