.page{
  background-color: $bg-color;
  padding-bottom: 30rpx;
}
/*搜索*/
.head-search{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100rpx;
  background-color: $bg-back-color;
  padding-left: 30rpx;
  padding-right: 30rpx;
  .search-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: 70rpx;
    padding: 0 20rpx;
    background-color: $bg-color;
    border-radius: 35rpx;
    .text{
      color: $text-assist-color;
      font-size: 24rpx;
    }
    .image{
      width: 34rpx;
      height: 34rpx;
      margin-right: 20rpx;
    }
  }
  .scan-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20rpx;
    .image{
      width: 48rpx;
      height: 48rpx;
    }
  }
}
/*banner*/
.banner-info{
  position: relative;
  width: 100%;
  height: 340rpx;
  padding: 0 30rpx;
  margin-bottom: 20rpx;
  .swiper{
    width: 100%;
    height: 340rpx;
    .image{
      width: 100%;
      height: 340rpx;
      border-radius: 20rpx;
    }
  }
  .indicator-dot{
    position: absolute;
    left: 0;
    bottom: 20rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    .dots{
      width: 16rpx;
      height: 16rpx;
      background-color: rgba(255,255,255,0.3);
      border-radius: 10rpx;
      margin: 0 6rpx;
    }
    .active{
      width: 34rpx;
      height: 16rpx;
      background-color: $bg-back-color;
      border-radius: 16rpx;
    }
  }
}
/*金刚区*/
.menu-info{
  width: 100%;
  height: 160rpx;
  padding: 0 30rpx;
  margin-bottom: 20rpx;
  .menu-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 160rpx;
    background-color: $bg-back-color;
    border-radius: 20rpx;
    .list{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 140rpx;
      .image{
        width: 80rpx;
        height: 80rpx;
        margin-bottom: 10rpx;
      }
      .text{
        font-size: 28rpx;
        color: $text-color;
      }
    }
  }
}
/*瓷片区*/
.tile-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 300rpx;
  padding: 0 30rpx;
  margin-bottom: 20rpx;
  .tile-left{
    width: 49%;
    height: 300rpx;
    .image{
      width: 100%;
      height: 300rpx;
      border-radius: 20rpx;
    }
  }
  .tile-right{
    justify-content: space-between;
    width: 49%;
    height: 300rpx;
    .tile{
      width: 100%;
      height: 140rpx;
      .image{
        width: 100%;
        height: 140rpx;
        border-radius: 20rpx;
      }
    }
  }
}
.title-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100rpx;
  padding: 0 20rpx;
  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    .line{
      width: 10rpx;
      height: 40rpx;
      background-color: $base;
      border-radius: 10rpx;
      margin-right: 10rpx;
    }
    .tit{
      font-size: 28rpx;
      font-weight: bold;
      color: $text-color;
    }
  }
  .more{
    display: flex;
    flex-direction: row;
    align-items: center;
    .image{
      width: 48rpx;
      height: 48rpx;
    }
  }
}
/*每日推荐*/
.day-recommend{
  width: 100%;
  padding: 0 30rpx;
  margin-bottom: 20rpx;
  .recommend-info{
    width: 100%;
    height: 420rpx;
    background-color: $bg-back-color;
    border-radius: 20rpx;
    .goods-list{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 320rpx;
      padding: 0 20rpx;
      .list{
        width: 200rpx;
        height: 100%;
        margin-right: 24rpx;
        .pic{
          width: 200rpx;
          height: 200rpx;
          border-radius: 10rpx;
        }
        .title{
          display: flex;
          .text{
            width: 100%;
            height: 70rpx;
						lines:2;
            text-overflow: ellipsis;
            font-size: 28rpx;
            color: $text-color;
          }
        }
        .price{
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          .min{
            font-size: 20rpx;
            font-weight: bold;
            color: $base;
						margin-bottom: 4rpx;
          }
          .max{
            font-size: 30rpx;
            font-weight: bold;
            color: $base;
          }
        }
      }
    }
  }
}
/*猜你喜欢*/
.guess-like{
  width: 100%;
  padding: 0 30rpx;
  margin-bottom: 30rpx;
  background-color: $bg-back-color;
  .goods-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .list{
      width: 334rpx;
      margin-bottom: 20rpx;
      .pic{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 334rpx;
        .image{
          width: 334rpx;
          height: 334rpx;
          border-radius: 10rpx;
        }
      }
      .title{
        display: flex;
        margin-top: 10rpx;
        .text{
          lines:2;
          text-overflow: ellipsis;
          width: 334rpx;
          height: 70rpx;
          font-size: 28rpx;
          color: $text-color;
        }
      }
      .price{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .min{
          font-size: 22rpx;
          font-weight: bold;
          color: $base;
					margin-bottom: 4rpx;
        }
        .max{
          font-size: 36rpx;
          font-weight: bold;
          color: $base;
        }
      }
    }
  }
}
